@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 50%, rgb(150, 99, 4) 50%, rgb(191, 132, 4) 60%);

}

.counter {
    width: 700px;
    height: 600px;
    border: 5px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('https://github.com/JackDev21/ISDICODERSJack/blob/main/Proyectos_ejercicios/Counter/styles/background.jpg?raw=true');
    background-size: cover;
    background-position: center;
    color: rgb(236, 212, 189);
    font-family: 'Salsa', cursive;

}

.title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}


.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 70px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 50px;
}

button {
    position: relative;
    font-size: 1.2em;
    padding: 0.7em 1.4em;
    background-color: #bf8404;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

button::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 50%, rgb(150, 99, 4) 50%, rgb(191, 132, 4) 60%);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

button:hover::before {
    width: 1.6em;
    height: 1.6em;


}

button:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
}