* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.counter {
    width: 700px;
    height: 600px;
    border: 5px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 70px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 50px;
}

button {
    width: auto;
    height: auto;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;
}