* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #ff9900, #ffffff);
}



.game::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.150);
    z-index: 1;
}

.game {
    background-image: url(./img/backgroundMarioLuigi.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
    height: 100%;



}